:root {
  --pink: #f2cee6;
  --beige: #e8dcb9;
  --green: #c3dbc5;
  --blue: #7798ab;
  --midnight: #0d1b1e;
}

header, .post:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background-color: var(--green);
}

body {
  color: var(--midnight);
}

main {
  background-color: var(--beige);
  background-size: contain;
}

footer {
  background-color: var(--blue);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--midnight);
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: var(--blue);
  text-decoration: underline;
}